@media screen and (max-width: 1210px) {
    .section-center img {
        position: absolute;
        z-index: 1;
        opacity: 0.3;
    }

    .section-center {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        padding: 50px !important;
    }

}

@media screen and (max-width: 1100px) {

    main {
        padding-top: 100px;
    }
}

@media screen and (max-width: 720px) {

    .section-center {
        padding: 10px !important;
    }

    .discord-link svg {
        height: 45% !important;
    }
}

@media screen and (max-width: 655px) {

    h2 {
        font-size: 12vw !important;
    }

    p {
        font-size: 1.7rem !important;
    }
}

section {
    display: flex;
    justify-content: center;

    width: 100%;

    background-color: black;
}

.section-center {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;

    width: var(--page-width);
}

.section-center img {
    width: 100%;
}

.section-center > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-left: 10px;
}

h2 {
    font-size: 5rem;
    color: white;

    font-family: 'Futura';

    z-index: 2;
}

p {
    color: white;
    font-size: 2rem;
    font-family: 'Futura Book';
    z-index: 2;
}

.text-link {
    color: rgb(211, 200, 168);
    font-size: 2rem;
    font-family: 'Futura Book';
}